body{
    background-color: gray;
    align-items: center;
  }

#mainHeaderArea{
  text-align: center;
  font-size: 30px;
  color: azure;
}

table, th, td {
  border: 2px solid black;
}
table.center {
  margin-left: auto;
  margin-right: auto;
}

/* table{
  margin-left: 200px;
} */

/* table{
  float:none;
} */


/* #tableArea {
  align-content: flex-end;
} */