body{
    background-color: gray;
    align-items: center;
  }

/* Id selector */
#mainHeaderArea{
  text-align: center;
  font-size: 30px;
}

table, th, td {
  border: 2px solid black;
}

th, td {
  padding: 20px;
  text-align: left;
}

/* Class selector */
table.center {
  margin-left: auto;
  margin-right: auto;
}